.header-greet {
  width: 60%;
  padding: 2rem;
  /* display: flex; */
  /* justify-content: center; */
}


.header-section {
  background-image: url(../images/bg.png);
  background-size: cover;
  margin-top: -95px;
  width: 100%;
  height: 80vh;
}

.header-section-bottom {
  margin-top: -50px;
}


.tour-card-section {
  background-color: rgb(240, 240, 240);
}

.text-grey {
  color: rgb(80, 80, 80);
}

.text-grey2 {
  color: rgb(134, 134, 134);
}

.warningg {
  background-color: rgb(255, 145, 0) !important;
}

.width-button-auth {
  width: 100px;
}

.text-header-greet {
  font-size: 64px;
  font-weight: 700;
}

.text-header-greet2 {
  font-style: normal;
  font-weight: 300;
  font-size: 50px;
  /* line-height: 78px; */

}

.bg-lightgrey {
  background-color: rgb(226, 226, 226) !important;
}

.pointer {
  cursor: pointer;
}

.w-80 {
  width: 85%;
}

.width-100 {
  width: 100% !important;
}

.w-customm {
  width: 100rem;
}

/* .pe-custom {
  padding-right: 20rem;
} */

.mt-min {
  margin-top: -5rem;
}

.text-orange {
  color: rgb(218, 58, 0) !important;
}

.text-trns {
  color: rgba(240, 248, 255, 0);
}

.bg-trns {
  background-color: rgba(240, 248, 255, 0);
}

.width-pop {
  width: 10rem;
}

/* .widthbooking {
  background-color: yellow;
  width: 50rem;
} */

.navbarr {
  background-image: url(../images/bgnav.png);
  height: 11vh;
}